%p#notice= notice

%p
  %b Title:
  = @resume.title
%p
  %b Name:
  = @resume.name
%p
  %b Address:
  = @resume.address
%p
  %b Phone:
  = @resume.phone
%p
  %b Mobile:
  = @resume.mobile
%p
  %b Email:
  = @resume.email

%h3 Sections

-@resume.resume_sections.each do |section|
  =section.title

%p=link_to "Add Section", new_resume_section_path(@resume)

%h3 Options

= link_to 'Edit', edit_resume_path(@resume)
\|
= link_to 'Back', resumes_path
